{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}


{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <style>
    a { text-decoration:none !important; }
    #tematik-title { margin-top:-8px !important; }
    #cari { background: #02275d !important; }
    #helpBlock { text-align:left; }
    .pd-10 { padding:10px; }
    .wd-100 { width:100% !important; }
    #snip { color:#000; text-align:center; }
    .t-bl { color:#000; }
    #imager { background:url('https://kemenkeu.go.id/media/9956/agsliderbanner.jpg');height:500px; }
  </style>
  <div class="homepage layout-{{ homepage_style }}"></div>
  <div class="container">

	<br/>
	<div class="jumbotron hidden-sm hidden-xs" id="imager"></div>

  </div>
  <div class="container">
	<h1 id="snip">PORTAL DATA APBN</h1>
	<h4 id='snip'>{% snippet 'home/snippets/stats2.html' %}</h4>
	<form class="form-horizontal" method="GET" action="/dataset">
	  <div class="form-group form-group-lg container-fluid">
	    <div class="col-xs-12 col-sm-12 col-md-10 pd-10">
	      <input class="form-control" type="text" name="q" id="formGroupInputLarge" placeholder="Temukan disini">
	      <span id="helpBlock" class="help-block hidden-sm hidden-xs">Masukan kata kunci berupa nama tematik, instansi, dan atau judul dataset.</span>
	    </div>
	    <div class="col-sm-12 col-xs-12 col-md-2 pd-10">
	      <input type="submit" class="btn btn-success btn-lg col-sm-12 wd-100 hidden-sm hidden-xs" id="cari" value="Cari">
	      <input type="submit" class="btn btn-success btn-lg col-sm-12 wd-100 hidden-md hidden-lg" id="cari" value="Lakukan Pencarian">
	    </div>
	  </div>
	</form>

	<br/>

	<div class="row">
	<div class="container-fluid">
	<div class="flex-container" style=" text-transform: uppercase;">
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/apbn"><img width="60" src="/base/icon/apbn.png">
                        <h5 class="tematik-title">APBN <span class="tooltiptext hidden-xs hidden-sm">Anggaran Pendapatan dan Belanja Negara</span> </h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2 zoom">
			<a href="group/asumsi-dasar-ekonomi-makro"><img width="60" src="/base/icon/asumsi.png">            
			<h5 class="tematik-title">Asumsi<span class="tooltiptext hidden-xs hidden-sm">Asumsi Dasar Ekonomi Makro</span></h5></a>
		</div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
			<a href="group/belanja-pemerintah-pusat"><img width="60" src="/base/icon/bpp.png">
			<h5 class="tematik-title">BPP<span class="tooltiptext hidden-xs hidden-sm">Belanja Pemerintah Pusat</span></h5></a>
		</div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/pendidikan"><img width="60" src="/base/icon/pendidikan.png">
                        <h5 class="tematik-title">Pendidikan <span class="tooltiptext hidden-xs hidden-sm">Anggaran Pendidikan</span></h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/kesehatan"><img width="60" src="/base/icon/kesehatan.png">
                        <h5 class="tematik-title">Kesehatan <span class="tooltiptext hidden-xs hidden-sm">Anggaran Kesehatan</span></h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/kemiskinan"><img width="60" src="/base/icon/kemiskinan.png">
                        <h5 class="tematik-title">Kemiskinan <span class="tooltiptext hidden-xs hidden-sm">Anggaran Kemiskinan</span></h5></a>
                </div>
		 <div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/infrastruktur"><img width="60" src="/base/icon/infrastruktur.png">
                        <h5 class="tematik-title">Infrastruktur <span class="tooltiptext hidden-xs hidden-sm">Anggaran Infrastruktur</span></h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/energi"><img width="60" src="/base/icon/energi.png">
                        <h5 class="tematik-title">Energi <span class="tooltiptext hidden-xs hidden-sm">Anggaran Energi</span></h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/pangan"><img width="60" src="/base/icon/pangan.png">
                        <h5 class="tematik-title">Pangan <span class="tooltiptext hidden-xs hidden-sm">Anggaran Ketahanan Pangan</span></h5></a>
                </div>
		<div class="flex-item col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <a href="group/transfer-ke-daerah-dan-dana-desa"><img width="60" src="/base/icon/tkdd.png">
                        <h5 class="tematik-title">TKDD<span class="tooltiptext hidden-xs hidden-sm">Transfer ke Daerah dan Dana Desa</span> </h5></a>
		</div>
		<div class="col-md-2 col-sm-3 hidden-xs">

		</div>
		<div class="col-md-2 col-sm-3 hidden-xs">

		</div>
                <div class="col-sm-3 hidden-xs hidden-lg hidden-md">

                </div>
                <div class="col-sm-3 hidden-xs hidden-lg hidden-md">

                </div>
	</div>
	</div>
	</div>
      <br/><br/><br/>
      </center><br/>
      </div>
  </div>
{% endblock %}
