<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Apa itu tematik?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
	Anda dapat menggunakan tematik untuk membuat dan mengelola dataset. Ini bisa menjadi katalog dataset untuk unit tertentu, atau pada tema tertentu, atau sebagai cara yang sangat sederhana untuk membantu orang menemukan dan mencari dataset yang Anda publikasikan sendiri.
      {% endtrans %}
    </p>
  </div>
</div>
