<a href="#"><div id="scroll" style="display: block;">&nbsp;</div></a>
<style>
.social { margin:0px !important;}
td { padding:5px; }
</style>
<footer>
    <div class="bottom-footer">
        <div class="container-fluid container"><br/>
	    <div class="col-md-12 hidden-lg hidden-md"><center><img src="/base/images/logo_portal.png" width="100"></center></div>
	    <div class="col-md-9 col-xs-12 col-sm-12" style="font-size:12px !important;">
		<table width="100%">
		    <tr><td class="hidden-xs hidden-sm" width="85"><img src="/base/images/logo_portal.png" width="70" height="130"></td>

			<td style="color:white;padding-left:10px;" class="hidden-sm hidden-xs">Hak Cipta Kementerian Keuangan Republik Indonesia<br>
                    Direktorat Jenderal Anggaran<br>
                    Gedung Sutikno Slamet Lt. 13<br>
                    Jl. Dr.Wahidin Raya No 1 Jakarta 10710<br>
                    Telp: 021-3505663 Fax: 021-3505659<br></td>

			<div class="hidden-md hidden-lg"><center>
			<td style="color:white;text-align:center;" class="hidden-md hidden-lg">Hak Cipta <br/>Kementerian Keuangan Republik Indonesia<br>
                    Direktorat Jenderal Anggaran<br>
                    Gedung Sutikno Slamet Lt. 13<br>
                    Jl. Dr.Wahidin Raya No 1 Jakarta 10710<br>
                    Telp: 021-3505663 Fax: 021-3505659<br><br/></td></div>
		</tr></table>
	    </div>
	    <div style="overflow:hidden !important;" class="col-md-3 social col-xs-12 col-sm-12 hidden-xs hidden-sm">
                <h3>Ikuti Kami</h3>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b" style="height:45px;">
                    <a target="_blank" href="http://www.facebook.com/portaldataAPBN" class="hi-icon hi-icon-fb"></a>
                    <a target="_blank" href="http://www.twitter.com/PortaldataAPBN" class="hi-icon hi-icon-tw"></a>
                    <a target="_blank" href="https://www.instagram.com/portaldataapbn_" class="hi-icon hi-icon-in"></a>
                </div><br/>
	    </div>
            <div style="overflow:hidden !important;" class="col-md-3 social col-xs-12 col-sm-12 hidden-md hidden-lg"><center>        
                <h3>Ikuti Kami</h3>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b" style="height:45px;">
                    <a target="_blank" href="http://www.facebook.com/portaldataAPBN" class="hi-icon hi-icon-fb"></a>
                    <a target="_blank" href="http://www.twitter.com/PortaldataAPBN" class="hi-icon hi-icon-tw"></a>
                    <a target="_blank" href="https://www.instagram.com/portaldataapbn_" class="hi-icon hi-icon-in"></a>
                </div><br/>
            </center></div>
            <div class="clear"></div>
        </div><br/>
    </div>
</footer>

<script type="text/javascript">
if(document.getElementsByClassName("page-heading")[0].innerHTML == "Unduh"){
	var eloader = "<iframe width='100%' height='300' src='https://drive.google.com/embeddedfolderview?id=1ida5mfyzvc-yVD8XhO_moJ3R93qfqSD3#list'>Sedang mempersiapkan dokumen ....</iframe>";
	document.getElementsByClassName("ckanext-pages-content")[0].innerHTML = eloader;
}
</script>
