{% set stats = h.get_site_statistics() %}

  <div class="inner">
    <hr>
    <ul style=" text-align: center; text-transfor: uppercase;">
      {% block stats_group %}
      <lu style=" width: 30%;">
        <a href="{{ h.url_for(controller='package', action='search') }}" style=" color: white; display:inline;text-transform: uppercase;">
          <b style=" color: yellow;">{{ h.SI_number_span(stats.dataset_count) }}</b>
          {{ _('dataset') if stats.dataset_count == 1 else _('dataset') }} |
        </a>
      </lu>
      <lu style=" width: 30%;">
       <a href="{{ h.url_for(controller='organization', action='index') }}" style=" color: white;display:inline;text-transform: uppercase;">
          <b style=" color: yellow;">{{ h.SI_number_span(stats.organization_count) }}</b>
          {{ _('Unit') if stats.organization_count == 1 else _('Unit') }} |
        </a>
      </lu>
      <lu>
        <a href="{{ h.url_for(controller='group', action='index') }}" style=" color: white;display: inline;text-transform: uppercase;">
          <b style=" color: yellow;">{{ h.SI_number_span(stats.group_count) }}</b>
          {{ _('group') if stats.group_count == 1 else _('Tematik') }}
        </a>
      </lu>
      {% endblock %}
    </ul>
  </div>
